{% extends 'newpost/base.html' %}

{% block content %}
<div class="aut">
        <div class="zag">
                <h1>Главные новости</h1>
        </div>
</div>
<div class="new">
    
    
        {% for i in an %}
        <div class="blok">
            <div class="creat"> {{ i.created }} </div>
            
            <div class="tit"> <a href="{% url 'detail' i.id %}"> {{ i.title }} </a> </div>
            <!-- <div> {{ i.news|linebreaksbr }} </div> -->
            <div class="us"> --{{ i.user }}-- </div>
         </div>
        {% endfor %}
       
</div>


{% endblock %}