{% extends 'newpost/base.html' %}

{% block content %}

<div class="aut">
    <div class="zag">
            <h1>Создать новость</h1>
    </div>
</div>


<div> {{ error }} </div>
<div class="new">
    <form class="aut" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="center">
            
                <button class="btn">
                    Создать
                </button>
            
        </div>
    </form>
</div>    
{% endblock %}