{% extends 'newpost/base.html' %}

{% block content %}

<div class="aut">
    <div class="zag">
            <h1>{{ post.title }}</h1>
    </div>
</div>
<div class="new">
    
    <div id="news">{{ post.news|linebreaksbr }}</div>
    <div>
        {% if post.image %}
        <img src="{{ post.image.url }}">
        {% endif %}
    </div>
    <div class="info">
        <div>Автор: {{ post.user }}</div>
        <div>Дата: {{ post.created }}</div>
    </div>
</div>
<div class="comments">
    <form action="{% url 'detail' post.id %}" class="comform" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="formfield">
            <label for="formInput#textarea">{{ field.label }}:</label>
            {{ field }}

        </div>
        {% endfor %}

        <input class='btn btn--sub btn--lg' type="submit">

    </form>
</div>
<div class="comentlist">
    {% for i in post.coment_set.all %}
    {% if i.body %}
    <div class="comentuser">
        <div class="usern">Пользователь: {{ i.owner }}</div>
        <div class="usertext"> {{ i.body }}</div>
        <div class="user">Дата комментария: {{ i.created }}</div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}